.about {
    background-color: $mainBgColor;
    &__nds-wrapper {
        max-width: 450px;
        font-size: 14px;
        padding: 16px;
        font-family: $fontRegular;
    }
    &__commercial-btn {
        padding: 0;
        margin-top: 16px;
        border: none;
        background-color: inherit;
        font-family: $fontMedium;
        font-size: 16px;
        text-align: start;
    }
    &__commercial-btn:hover {
        cursor: pointer;
        filter: drop-shadow(0 0 5px black);
    }
    &__commercial-btn img {
        margin-left: 5px;
        vertical-align: middle;
    }
}