.brands {
    background-color: $mainBgColor;
    &__swiper {
        height: 130px;
        position: relative;
        overflow: hidden;
    }
    &__swiper::after {
        content: "";
        display: block;
        height: 72px;
        width: 24px;
        background: linear-gradient(270deg, $mainBgColor 16.84%, rgba(248, 248, 248, 0.0001) 100%);
        position: absolute;
        right: 0;
        top: 16px;
        z-index: 10;
    }
    &__title {
        border-top: 1px solid #D9FFF5;
        color: #7E7E82;
        padding: 16px;
        font-family: $fontRegular;
        text-transform: uppercase;
        background-image: linear-gradient(-270deg, $mainBgColor 0%, #FFFFFF 98.61%);
    } 
    &__link {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        border: 1px solid #EAEAEA;
        border-radius: 6px;
        height: 38px;
        width: 206px;
        padding: 16px;
        transition: box-shadow .3s linear;
    }
    &__link:hover {
        box-shadow: 2px 0px 10px 2px #FF3E79;
    }
    &__swiper-pagination {
        text-align: center;
        margin-top: 16px;
    }   
    &__spoiler-btn:hover {
        cursor: pointer;
    }
}

