.footer {
    background-color: #F8F8F8;
    &__wrapper {
        border-top: 1px solid #D9FFF5;
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        text-align: center;
        font-family: 'TT Lakes Regular';
        font-size: 14px;
        color: #7E7E82;
    }
}
