.modal-call {
    margin-left: auto;
    max-width: 320px;
    height: auto;
    box-shadow: -2px 0px 4px 0px #454F7E05, 16px 0px 52px 0px #0E185033;
    display: none; 
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;
    &--show {
        display: block;
    }
    &__btn {
        border: none;
        padding: 0;
        margin: 0;
        background-color: inherit;
        width: 40px;
        height: 40px;
    }
    &__btn:hover,
    &__btn-send:hover {
        cursor: pointer;
    }
    &__wrapper {
        background-color: #FFFFFF;
        padding: 16px;
        position: relative;
        height: 676px;
    }
    &__title {
        font-family: 'TT Lakes Bold';
        margin-top: 0;
        padding: 0;
        margin-top: 24px;
        margin-bottom: 24px;
        position: relative;
    }
    &__title::before {
        content: "";
        display: block;
        width: 4px;
        height: 40px;
        background-color: #41F6D7;
        position: absolute;
        left: -16px;
        top: -5px;
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
    }
    &__message {
        color: #7E7E82;
        font-family: 'TT Lakes Regular';
        font-size: 14px;
        line-height: 16px;
    }
    &__message a {
        color: #FF3E79;
    }
    &__message a:hover {
        text-decoration: underline;
    }
    &__btn-send {
        padding: 0;
        margin-top: 16px;
        border: none;
        background-color: inherit;
        position: absolute;
        right: 16px;
        transition: transform .2s linear;
    }
    &__btn-send:hover {
        transform: scale(1.1);
    }
}

input {
    padding: 0;
    margin: 0;
    border: none;
    width: 100%;
    margin-bottom: 16px;
    padding: 16px;
    border-radius: 8px;
    border: 1px solid #EAEAEA;
}

input::-webkit-input-placeholder {
    color: #B5B6BC;
    font-family: 'TT Lakes Regular';
}